/* Desktop screens */

@media (min-width: 700px) {
    #profile-container > header {
        padding: 0px 30px;
    }
    #profile-container > header > .control-div {
        justify-content: flex-end;
        order: 1;
    }
    #profile-container > .musics-div {
        padding: 0px 60px;
        width: 100%;
    }
    #profile-container > h1 {
        padding: 0px 60px;
    }
    #profile-container > .musics-div > .music {
        width: 376px;
        height: 310px;
    } 
}

@media (min-width: 1000px) {
    #profile-container > header {
        padding: 0px 80px;
    }
    #profile-container > .musics-div {
        padding: 0px 80px;
    }
    #profile-container > h1 {
        padding: 0px 80px;
    }
}