/* General CSS */
#profile-container {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

#profile-container > header {
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

#profile-container > header > .control-div {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    order: 2;
    justify-content: center;
    align-items: center;
} 

#profile-container > .musics-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#profile-container > .musics-div > .music {
    overflow: hidden;
    margin: 10px 10px;
    border-color: rgba(0, 0, 0, 0.151);
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
    padding: 10px;
    background-color: rgba(255, 255, 255);
}

#profile-container > .musics-div > .music > .header {
    display: flex;
    flex-direction: column;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.11);
    margin-bottom: 10px;
}

#profile-container > .musics-div > .music > .header > .artist{
    font-weight: bold;
    font-size: 1.1rem;
}

#profile-container > header > .control-div > button {
    border-style: solid;
    border-width: 1px;
    height: 44px;
    padding: 7px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.182);
    cursor: pointer;
    margin: 0px 5px;
} 

#profile-container > header > .intro-div > img.logo {
    width: 70px;
}

#profile-container > .musics-div > .music:hover {
    background-color: rgba(200, 200, 255, 0.418);
    border-color: #1824454b;
    transition: 0.2s;
    cursor: pointer;
}

#profile-container > h1 {
    align-self: left;
    font-size: 1.9rem;
    font-weight: bold;
    margin-top: 30px;
}

#profile-container > header > .intro-div {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

#profile-container > header > .control-div > button.logout:hover {
    background-color: #971919;
    transition: 0.2s;
    border-color: white;
}

#profile-container > header > .control-div > button.add-lyric:hover {
    border-color: white;
    transition: 0.2s;
    background-color: #182445;
}

#profile-container > header > .control-div > button.logout {
    color: white;
    border-radius: 50%;
    height: 47px;
    width: 47px;
    background-color: #c72121;
}

#profile-container > header > .control-div > button.add-lyric {
    background-color: #21315e;
    color: white;
    width: 235px;
}