/* Mobile phones */
@media (max-width: 760px) {
    #profile-container {
        padding: 5px;
    }
    #profile-container > header {
        justify-content: center;
    }
    #profile-container > h1 {
        text-align: center;
    }
    #profile-container > header > .control-div {
        justify-content: space-evenly;
        order: 1;
    }
    #profile-container > .musics-div {
        justify-content: center;
    }
    #profile-container > .musics-div > .music {
        height: 250px;
        width: 100%;
    } 
}