#profile-container {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

/* 
xs (for phones - screens less than 768px wide)
sm (for tablets - screens equal to or greater than 768px wide)
md (for small laptops - screens equal to or greater than 992px wide)
lg (for laptops and desktops - screens equal to or greater than 1200px wide) 
*/

@media (max-width: 768px) {
    #profile-container {
        padding: 5px;
    }
    .title, .logo {
        display: none;
    }
}

@media (min-width: 768px) {
    #profile-container > header {
        padding: 0px 70px;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    #profile-container > .musics-div {
        display: flex;
        padding: 0px 80px;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #profile-container > h1 {
        padding: 0px 80px;
    }

    #profile-container > .musics-div > .music {
        width: 347px;
        height: 250px;
        overflow: hidden;
        margin: 10px 10px;
        border-color: rgba(0, 0, 0, 0.151);
        border-style: solid;
        border-width: 2px;
        border-radius: 6px;
        padding: 10px;
        background-color: rgba(255, 255, 255);
    }
    #profile-container > .musics-div > .music > .header {
        display: flex;
        flex-direction: column;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgba(0, 0, 0, 0.11);
        margin-bottom: 10px;
    }
    
    #profile-container > .musics-div > .music > .header > .artist{
        font-weight: bold;
        font-size: 1.1rem;
    }

    
}

#profile-container > .musics-div > .music:hover {
    background-color: rgba(200, 200, 255, 0.055);
    border-color: #182445;
    transition: 0.2s;
    cursor: pointer;
}

#profile-container > h1 {
    align-self: left;
    font-size: 1.9rem;
    font-weight: bold;
    margin-top: 30px;
}

#profile-container > header > .intro-div {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

#profile-container > header > .intro-div > .title-div {
    margin-left: 10px;
}

#profile-container > header > .intro-div > img {
    width: 80px;
}

#profile-container > header > .control-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 40px;
    width: 400px;
    align-items: center;
} 

#profile-container > header > .control-div > button {
    border-style: solid;
    border-width: 1px;
    height: 44px;
    padding: 7px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.182);
    cursor: pointer;
    margin: 0px 5px;
} 

#profile-container > header > .control-div > button.logout:hover {
    background-color: #971919;
    transition: 0.2s;
    border-color: white;
}

#profile-container > header > .control-div > button.add-lyric:hover {
    border-color: white;
    transition: 0.2s;
    background-color: #182445;
}

#profile-container > header > .control-div > button.logout {
    color: white;
    border-radius: 50%;
    height: 47px;
    width: 47px;
    background-color: #c72121;
}

#profile-container > header > .control-div > button.add-lyric {
    background-color: #21315e;
    color: white;
    width: 235px;
}

